<h3>S’enregistrer gratuitement</h3>
<form [formGroup]="formPatient" (ngSubmit)="onSubmit()">
  <div class="inputs">
    <input
      type="text"
      name="nom"
      id="nom"
      formControlName="nom"
      placeholder="Nom"
      [required]="true"
    />

    <input
      type="text"
      name="prenom"
      id="prenom"
      formControlName="prenom"
      placeholder="Prénom"
      [required]="true"
    />

    <input
      type="tel"
      name="telephone"
      id="telephone"
      formControlName="telephone"
      placeholder="Téléphone"
      [required]="true"
    />

    <input
      type="email"
      name="mail"
      id="mail"
      formControlName="mail"
      placeholder="Mail"
      [required]="true"
    />

    <input
      type="password"
      name="password"
      id="password"
      formControlName="password"
      placeholder="Mot de passe"
      [required]="true"
    />

    <input
      type="number"
      name="numSecu"
      id="numSecu"
      formControlName="numSecu"
      placeholder="Numero de Secu"
      [required]="true"
    />

  </div>

  <button type="submit" class="button blue">Enregistrer</button>
</form>
