<h1 class="cta">Je trouve mon spécialiste dans ma ville !</h1>

<form [formGroup]="formulaire" (ngSubmit)="onSubmit()">
  <input
    type="text"
    name="MES"
    id="MES"
    formControlName="MES"
    placeholder="Médecin, établissement, spécialité…"
    class="button white"
    [required]="true"
  />

  <input
    type="text"
    name="ville"
    id="ville"
    formControlName="ville"
    placeholder="Ville"
    class="button white"
    [required]="true"
  />

  <button type="submit" class="button blue">Rechercher</button>
</form>
