:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px rgba(0, 0, 0, 0.5);
  padding: 20px 4vw 24px 4vw;
  width: 61.22vw;
  box-sizing: content-box;
}

h3 {
  margin: 0;
  font-weight: bold;
}

.inputs {
  display: flex;
  row-gap: 32px;
  column-gap: 2.4%;
  flex-wrap: wrap;
  padding: 27px 0 34px 0;
}

.form-field {
  position: relative;
  flex: 1;
  min-width: 125px;
}

label {
  position: absolute;
  left: 16px;
  top: -65%;
  transition: .3s;
}

input:placeholder-shown + label {
  top: 21%;
  left: 16px;
}

input:focus + label {
  left: 16px;
  top: -65%;
}

input {
  height: 38px;
  border: solid 1px rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: -0.23px;
  padding: 0 16px;
  width: 100%;
}

input::placeholder {
  color: rgb(118, 118, 118);
}

input[type=password] {
  letter-spacing: 2.3px;
  font-weight: 900;
}

input[type=password]::placeholder {
  letter-spacing: -0.23px;
  font-weight: normal;
}

.ng-valid + label {
  color: var(--green);
}

.ng-dirty.ng-invalid + label {
  color: var(--red);
}

#nom-field {
  flex-basis: 15.5%;
}

#prenom-field {
  flex-basis: 15.5%;
}

#mail-field {
  flex-basis: 30%;
}

#telephone-field {
  flex-basis: 15%;
}

#adresse-field {
  flex-basis: 52.5%;
}

#codePostal-field {
  flex-basis: 10%;
}

#ville-field {
  flex-basis: 30%;
}

#specialisation-field {
  flex-basis: 52.5%;
}

#tempsRDV-field {
  flex-basis: 10%;
}

#password-field {
  flex-basis: 30%;
}

button[type=submit] {
  margin: auto;
  font-size: 21px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.23px;
  height: 50px;
  box-sizing: border-box;
}

