<h3>S’enregistrer gratuitement</h3>
<form [formGroup]="formMedecin" (ngSubmit)="onSubmit()">
  <div class="inputs">
    <input
      type="text"
      name="nom"
      id="nom"
      formControlName="nom"
      placeholder="Nom"
      [required]="true"
    />

    <input
      type="text"
      name="prenom"
      id="prenom"
      formControlName="prenom"
      placeholder="Prénom"
      [required]="true"
    />

    <input
      type="tel"
      name="telephone"
      id="telephone"
      formControlName="telephone"
      placeholder="Téléphone"
      [required]="true"
    />

    <input
      type="text"
      name="codePostal"
      id="codePostal"
      formControlName="codePostal"
      placeholder="Code Postal"
      [required]="true"
    />

    <input
      type="text"
      name="adresse"
      id="adresse"
      formControlName="adresse"
      placeholder="Adresse"
      [required]="true"
    />

    <input
      type="text"
      name="ville"
      id="ville"
      formControlName="ville"
      placeholder="Ville"
      [required]="true"
    />

    <input
      type="text"
      name="specialisation"
      id="specialisation"
      formControlName="specialisation"
      placeholder="Spécialisation"
      [required]="true"
    />

    <input
      type="email"
      name="mail"
      id="mail"
      formControlName="mail"
      placeholder="Mail"
      [required]="true"
    />

    <input
      type="time"
      value=""
      name="tempsRDV"
      id="tempsRDV"
      formControlName="tempsRDV"
      placeholder="Temps RDV"
      [required]="true"
    />

    <input
      type="password"
      name="password"
      id="password"
      formControlName="password"
      placeholder="Mot de passe"
      [required]="true"
    />

  </div>

  <button type="submit" class="button blue">Enregistrer</button>
</form>
